@{
    ViewData["Title"] = "Home Page";
}

<!-- Add dark theme class to the body -->
<body class="bg-dark text-light">

    <div class="text-center">
        <h1 class="display-4">Welcome In E-Commerce App</h1>

        
      <button> <a asp-controller="Category" asp-action="Index" >Category</a></button>
    

    </div>

</body>
