@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Create Account</h2>
                    <form id="signupForm" method="post" action="/Auth/signup">
                        <div class="form-group">
                            <input class="form-control" name="username" placeholder="Username" required />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Password" required />
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="email" placeholder="Email" type="email" required />
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="phonenumber" placeholder="+962123456789" pattern="\+962\d{9}" required maxlength="13" />
                            <small class="form-text text-muted">Please enter a valid phone number starting with +962 and followed by 9 digits.</small>
                        </div>


                        <div class="form-group">
                            <select class="form-control" name="roles" required>
                                <option value="" disabled selected>Select a role</option>
                                <option value="Administrator">Admin</option>
                                <option value="Editor">Editor</option>
                            </select>
                        </div>

                        <div class="text-center" style="margin-top:25px">
                            <input type="submit" class="btn btn-primary" value="Sign Up" />
                        </div>
                    </form>
                    <div id="signupSuccessMessage" class="alert alert-success" style="display:none;">
                        Sign up has been successful!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
