@model E_Commerce_App.Models.Category

<form method="post" asp-controller="Category" asp-action="@(Model.Id > 0 ? "Edit" : "Add")" asp-route-IdCategory="@Model.Id" enctype="multipart/form-data">
    @if (Model.Id > 0)
    {
        <input type="hidden" asp-for="Id" />
    }

    <div class="form-group">
        <label asp-for="Name">Category Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Type">Type</label>
        <input asp-for="Type" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Amount">Amount</label>
        <input asp-for="Amount" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Img">Image</label>
        <input asp-for="Img" class="form-control" />
    </div>

    




    <button type="submit" class="btn btn-primary">
        @if (Model.Id > 0)
        {
            <text>Save</text>
        }
        else
        {
            <text>Add</text>
        }
    </button>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>

        <form method="post" asp-action="Upload" asp-controller="Category" enctype="multipart/form-data">
            <div>

                <input type="file" name="file" />

                <button class="btn btn-outline-dark">Upload the file</button>
            </div>

        </form>
    </div>
</form>
